*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

.main
{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-top: 80px;
}

.inner 
{
    height: fit-content;
    text-align: center;
}

.generate_meme
{
    font-size: 20px;
    font-weight: 400;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    background-color: white;
    color: #222;
    padding: 12px 30px;
    border-top: 0px;
    border-bottom: 0px;
    cursor: pointer;
    transition: all linear 0.5s;
}

.generate_meme:hover 
{
    padding: 12px 40px;
    letter-spacing: 2px;
    border-left: 4px solid salmon;
    border-right: 4px solid salmon;
}

.inner > h2 
{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.meme_img
{
    height: 600px;
    width: 650px;
    object-fit: fill;
}

.meme_author
{
    font-size: 18px;
    font-size: 400;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #323232;
}
